@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.log {
    color: red;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-div {
    background-image: linear-gradient(rgb(6, 124, 150), white);
    height: 400px;
    width: 550px;
    padding-top: 15%;
    padding-left: 3%;

}

.signup-button {
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}

#signup-text {
    padding-left: 20%;

}

.left-div {
    height: 500px;
    width: 700px;
  
    padding-top: 2%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left_icons {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.lines {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;

}

.signin-button {
    background-color: rgb(6, 124, 150);
    color: white;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 3px 0px;
}

#email {
    width: 100%;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
}

#pass {
    width: 100%;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
}